#index{
    position: relative;
}
.mainTopic{
    width:100%;
    height:220px;
    padding-top:20px;
}
.content{
    
}
div.row{
    height:100%; 
    overflow: hidden;
    position: relative;
    margin-right:0;
    margin-left:0;
}
.row span{
    cursor: pointer;
}
.row .bd,.row, .bd .tempWrap{
    height:100%;
    margin: 0 auto;
}
.row .hd .prev,.row .hd .next{  
    position: absolute;
    width: 35px;
    height: 35px;
    top: 90px;
}
.row .hd .prev{
    background: url(../../../../images/juyoufuli/cake-full.png) no-repeat 8px 2px;
}
.row .hd .next{
    background: url(../../../../images/juyoufuli/cake-full.png) no-repeat -22px 3px;
    right: 0;
}
.lvmama_all{
    display: flex;
    justify-content: space-around;
    height: 100%;
    left: 0; 
    position: relative; 
    overflow: hidden; 
    padding: 0px; 
    margin: 0px;
}
.i-col{
    margin: 0 5px;
    height:100%;
    width:190px;
}
.imgDiv{
    width:100%;
    height:100%;
    position: relative;
}
.imgDiv img{
    width:100%;
    height:100%;
}
.imgDiv span{
    position: absolute;
    width:90%;
    height:30px;
    line-height:30px;
    font-size:14px;
    background:#fff;
    text-align:center;
    opacity: 0.8;
    left:50%;
    bottom:10px;
    transform: translateX(-50%);
}
.every_mianTopic{

}
.floorTil{
    padding:30px 8px 10px 0;
    height:72px;
    /* display: block; */
}
.i-span{
    color:#333;
    font: bold 14px "Microsoft YaHei";
}
.i-span i{
    background: url(../img/ico.png) no-repeat -10px -10px;
    display: inline-block;
    width: 45px;
    height:32px;
    margin-right: 10px;
    padding: 10px 7px 4px 7px;
    color: #fff;
    font: bold 14px "Microsoft YaHei";
    vertical-align: text-bottom;
}
.floorContent{
    width:100%;
    padding:19px 12px 27px;
    height:267px;
}
.floorRow{
    width:223px;
    height:100%;
    float:left;
    margin-right:10px;
}
.floorImgDiv{
    height:150px;
    width:100%;
    background:url(../img/zhanwei.jpg) no-repeat center center;
    background-size:100% 100%;
}
.floorDesc{
    padding:8px 10px;
    font-size:12px;
    color:#333333;
    line-height:30px;
}
.fprice{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.fname{
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  
}
.button{
    background:#ff8400;
    color:#fff;
    width:75px;
    height:30px;
    line-height:30px;
    border-radius:3px;
    text-align:center;
}